[submodule "third-party/glfw"]
	path = third-party/glfw
	url = git@github.com:gzieba/glfw.git
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = git@github.com:gzieba/imgui.git
[submodule "third-party/assimp"]
	path = third-party/assimp
	url = git@github.com:gzieba/assimp.git
[submodule "third-party/stb"]
	path = third-party/stb
	url = git@github.com:nothings/stb.git
